vertical-padding = 10px
horizontal-padding = 12px

big-font-size = 18px
little-font-size = 12px

primary-font-color = #333
secondary-font-color = #999

*
    box-sizing border-box

html
  font-family sans-serif

body
    color primary-font-color
    margin 1px
    padding 0
    width 500px

#searchBox
    border 0
    font-size big-font-size
    padding vertical-padding horizontal-padding
    width 100%

    &:focus, &:active
        outline 0
        border 0

.resultsList
    cursor pointer
    list-style none
    margin 0
    padding 0
    position relative
    // scrollbar
    overflow-y scroll
    max-height 391px

.result
    background-color #f5f5f5
    margin-bottom 1px
    padding vertical-padding horizontal-padding

    .icon
        float left
        font-size 28px
        margin-right 10px
        margin-top 3px
        color secondary-font-color
        width 30px
        text-align center

    .action
        background-color #ddd
        color #fff
        float right
        border-radius 3px
        padding 3px 5px
        font-size 8px
        margin-top 10px
        text-align center

    .title
        font-size big-font-size
        font-weight bold

    .description
        color secondary-font-color
        font-size little-font-size

.selected
    background-color #337ab7
    color white

    .icon
        color #144c77

    .action
        background-color #144c77
        color white

    .description
        color #c7ddef

.truncate
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.hidden
    display none

.fa.fa-circle-o-notch
    color #bbb
    display none
    font-size 20px
    position fixed
    top 10px
    right 10px

    &.fa-spin
        display inline-block
